Repository kvnrynfl/Gresda-TodoClass: changes, and which Mergify rules are due for each by the changed paths.
All: Automatic give label php, Automatic give label html, Automatic give label js, Automatic give label md

.mergify.yml:

pull_request_rules:
  - name: Automatic merge on approval
    conditions:
        - "#approved-reviews-by>=1"
        - check-success=build
        - base=main
        - label=ready-to-merge
    actions:
        label:
            add: 
                - already reviewed
        merge:
            method: merge

  - name: Automatic give label php
    conditions:
        - files~=\.php$
    actions:
        label:
            add: 
                - need review php team
        request_reviews:
            teams:
                - "@Gresda-Community/php-team"

  - name: Automatic give label html
    conditions:
        - files~=\.html$
    actions:
        label:
            add:
                - need review html team
        request_reviews:
            teams:
                - "@Gresda-Community/html-team"

  - name: Automatic give label js
    conditions:
        - files~=\.js$
    actions:
        label:
            add:
                - need review js team
        request_reviews:
            teams:
                - "@Gresda-Community/js-team"
    
  - name: Automatic give label md
    conditions:
        - files~=\.md$
    actions:
        label:
            add:
                - need review md team
        request_reviews:
            teams:
                - "@Gresda-Community/md-team"

ci(Mergify): configuration update
  .mergify.yml
Due: none

Add automatic pull request check
  .github/workflows/pull_request.yml
Due: none

Add markdown template for pull request
  .github/pull_request_template.md
Due: Automatic give label md

Fix mergify configuration
  .mergify.yml
Due: none

manage assets to clean code blade template 🧹
  resources/views/includes/backend/script.blade.php
  resources/views/includes/backend/style.blade.php
Due: Automatic give label php

redesign login pages 🔐
  resources/views/auth/login.blade.php
Due: Automatic give label php

redesign forgot password pages 🔑
  resources/views/auth/forgot-password.blade.php
Due: Automatic give label php

redesign register pages 🔓
  resources/views/auth/register.blade.php
Due: Automatic give label php

redesign reset password pages 🔓
  resources/views/auth/reset-password.blade.php
Due: Automatic give label php

redesign verify email pages 📩
  resources/views/auth/verify-email.blade.php
Due: Automatic give label php

Disable feature testing in pull_request.yml
  .github/workflows/pull_request.yml
Due: none

Delete .github/workflows directory
  .github/workflows/pull_request.yml
Due: none

Fix formater style
  resources/views/auth/forgot-password.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/auth/reset-password.blade.php
  resources/views/auth/verify-email.blade.php
Due: Automatic give label php

Fix include path
  resources/views/includes/script.blade.php
  resources/views/includes/style.blade.php
Due: Automatic give label php

Add pavicon to include style
  resources/views/includes/style.blade.php
Due: Automatic give label php

Fix guest layout
  resources/views/layouts/guest.blade.php
Due: Automatic give label php

Implement and fix register page
  resources/views/auth/register.blade.php
Due: Automatic give label php
